<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basic.face">

    <application>
        <provider
            android:name="com.basic.face.FACEInitProvider"
            android:authorities="${applicationId}.face-init-provider"
            android:exported="false"
            android:multiprocess="true" />

        <activity
            android:name=".widget.imageview.preview.ui.PreviewActivity"
            android:theme="@style/FACETheme.Translucent" />
        <activity
            android:name=".widget.imageview.preview.ui.VideoPlayerActivity"
            android:theme="@style/FACETheme.Translucent" />
    </application>

</manifest>
